# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     localhost
    database_port:     ~
    database_name:     louvre
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_auth_mode:  login
    mailer_host:       smtp.blagache.com
    mailer_port:       587
    mailer_user:       louvre@blagache.com
    mailer_password:   billetLouvre

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    stripekey: sk_test_eYTkBcEGY9DPpX1c1T9m0NXv
    flood_limit: 1000
